<%= form_for @myvd do |f| %>

<p><%= f.label :name, class: "text-color" %>
<%= f.text_field :name %></p>

<p><%= f.label :message, class: "text-color" %>
<%= f.text_field :message, class: "input-lg" %></p>

<p><%= f.label :looking_for, class: "text-color" %>
<%= f.check_box :looking_for %></p>

<p><%= f.submit %></p>
<% end %>
