<!DOCTYPE html>
<html>
<head>
  <title>Vd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <iframe width="300" height="55" src="https://www.youtube.com/embed/84RxK4N1wfE" frameborder="0" autoplay></iframe>

  <body>
    <div class="container">
      <div class="mouth">
        <%= image_tag "lionel-mouth.png" %>
      </div>
      <%= yield %>
      
    </body>


</html>
